@model KarieriBG.Web.ViewModels.Position.PositionViewModel

@{
    this.ViewData["Title"] = "Position by ID";
}

<h1>@this.ViewData["Title"]</h1>

<h2>Position Name: @Model.PositionName</h2>
<h2>Company Name: @Model.CompanyName</h2>
<h2>Added on: @Model.AddedOn</h2>
<h2>Types: @Model.Types</h2>

